@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat, Arial, sans-serif;
}
.p-o-section-title {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #3C3C3B;
}

/*Main Section*/
.p-o-main-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("images/POMainBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative;
}
.p-o-main-section__container {
    width: 1380px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 30px;
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.p-o-main-section__info-wrapper {
    margin-bottom: 4%;
}
.p-o-main-section__img {
    position: relative;
    right: -1vw;
    max-width: 50%;
}
.p-o-main-section__info {
    display: flex;
    align-items: center;
}
.p-o-main-section__info-icon {
    min-height: 100%;
    width: auto;
    padding-right: 8px;
}
.p-o-main-section__info-text h1 {
    font-family: "Bitter", serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #E3AEB8;
}
.p-o-main-section__info-text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #3C3C3B;
}
.p-o-main-section__info-logos {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-top: 10%;
}
.p-o-main-section__info-logos_mobile {
    display: none;
}
/*Main Section*/

/*Risk Section*/
.p-o-risk-section {
    padding: 78px 0 48px;
}
.p-o-risk-section__slider {
    padding: 48px 0;
}

.p-o-risk-section__stats {
    display: flex;
    align-items: flex-start;
}
.p-o-risk-section__stats-divider {
    min-height: 100%;
    width: 1px;
    background-color: #C2C2C2;
    align-self: stretch;
    margin: 0 20px;
}
.p-o-risk-section__stats-item {
    flex: 1;
}
.p-o-risk-section__stats-item-count {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 300;
    font-size: 104px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #E0B8A1;
    margin-bottom: 18px;
}
.p-o-risk-section__stats-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    color: #3C3C3B;
    padding: 0 32px;
}
.p-o-risk-section__stats-item-text_asterisk {
    font-size: 10px;
    color: #C2C2C2;
    margin-top: 10px;
}
/*Risk Section*/


/*Fund Section*/
.p-o-fund-section {
    background-color: #FAEFE8;
}
.p-o-fund-section__header {
    background-image: url("images/POFundHeader.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 320px;
}
.p-o-fund-section__content {
    display: flex;
    align-items: center;
    padding: 0 32px;
}
.p-o-fund-section__percent-wrapper {
    padding: 0 32px;
    min-height: 100%;
    align-self: stretch;
}
.p-o-fund-section__percent {
    background-color: #E3AEB8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: -10% 0;
    height: 110%;
    min-width: 330px;
}
.p-o-fund-section__percent-count {
    background-color: #FAEFE8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 104px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #E3AEB8;
    width: 104%;
    padding: 6% 0;
}
.p-o-fund-section__percent-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    color: #FEFAF8;
    padding: 0 16px;
}
.p-o-fund-section__info {
    padding: 64px 32px 64px;
}
.p-o-fund-section__info-icon {
    margin-bottom: 32px;
}
.p-o-fund-section__info-text {

}
.p-o-fund-section__info-title {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #3C3C3B;
    margin-bottom: 16px;
}
.p-o-fund-section__info-desc p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #3C3C3B;
    margin-bottom: 16px;
}
.p-o-fund-section__info-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    height: 42px;
    background-color: #E3AEB8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FEFAF8;
}

/*Fund Section*/

/*Fact Section*/
.p-o-facts-section {
    padding: 78px 0 48px;
}
.p-o-facts-section__wrapper {
    padding-top: 100px;
}
.p-o-facts-section__item-title {
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #3C3C3B;
    margin-bottom: 32px;
    position: relative;
}
.p-o-facts-section__item-title:after {
    content: '';
    max-width: 100%;
    height: 1px;
    display: block;
    background-color: #3C3C3B;
    flex: 1;
    margin: 0 0 0.2em 10px;
}
.p-o-facts-section__slider {

}
.p-o-facts-section__slider-item {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.p-o-facts-section__slider-item-top {

}
.p-o-facts-section__slider-item-info {
    padding: 20px 16px;
    background-color: #F7E7EA;
    flex: 1;
}
.p-o-facts-section__slider-item-title {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #3C3C3B;
    margin-bottom: 8px;
}
.p-o-facts-section__slider-item-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #3C3C3B;
}
/*Fact Section*/















