#bs-video-container {
    width: 100%;
    height: 100%;
    background-color: #ddbb9a;
}
.bf-text {
    font-family: 'Bitter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}
.bs-bg-video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: bottom;
}
.bs-bg-video-mobile {
    display: none;
}
#slider .slide-text-bf .btn:hover {
    border-color: #000;
    background: #000;
    color: #fff;
}
#slider .slide-text-bf .btn:hover .arr{
    border-color: #fff;
}
#slider .slide-text-bf {
    display: flex;
    flex-direction: column;
}
#slider .swiper-slide[data-left] .slide-text.slide-text-bf h2 {
    font-family: 'Bitter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}
#slider .swiper-slide[data-left] .slide-text.slide-text-bf h2 span:first-child {
    font-size: 77px;
}
#slider .swiper-slide[data-left] .slide-text.slide-text-bf {
    width: auto;
    bottom: 14%;
}
#slider .swiper-slide[data-left] .slide-text.slide-text-bf .btn-lg {
    min-width: auto;
    margin-top: 60px;
}
#slider .swiper-slide[data-left] .slide-text.slide-text-bf .slide-text-bf-code-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}
#slider .swiper-slide[data-left] .slide-text.slide-text-bf .slide-text-bf-code {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFE6CE;
    background-color: #000;
    padding: 10px 16px;
}
#slider .swiper-slide[data-left] .slide-text.slide-text-bf .slide-text-bf-date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-bottom: 8px;
}
#slider .swiper-slide[data-left] .slide-text.slide-text-bf h2.slide-text-bf-main-text {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}
#slider .swiper-slide[data-left] .slide-text.slide-text-bf h2.slide-text-bf-main-text span:first-child {
    font-size: 50px;
    width: 100%;
}
#slider .swiper-slide[data-left] .slide-text.slide-text-bf h2.slide-text-bf-main-text span:last-child {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.2;
    width: 100%;
}
#slider .swiper-slide[data-left] .slide-text.slide-text-bf .slide-text-bf-sub-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.slide-text-bf-date-mob {
    display: none;
}
@media screen and (max-width:1920px) {
    .bf-text {
        font-size: 80px;
    }
    .bs-bg-video {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        object-position: 20% 100%;
    }
}
@media screen and (max-width:1620px) {
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf {
        left: 10%;
    }
    .bs-bg-video {
        object-position: 36% 100%;
    }
}
@media screen and (max-width: 767px) {
    #slider .container.container-text-bf {
        height: auto;
    }
    .bs-bg-video {
        object-position: center 72%;
    }
    #slider .slide-text-bf {
        align-items: center;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf {
        left: 0;
        top: 96px;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf h2 {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf h2 {
        font-size: 29px;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf h2 span:first-child {
        font-size: 29px;
        margin-right: 12px;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf .slide-text-bf-code-title {
        font-size: 12px;
        margin-bottom: 7px;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf .slide-text-bf-code {
        font-size: 20px;
        padding: 4px 16px;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf .btn-lg {
        margin-top: 27px;
    }

    #slider .swiper-slide[data-left] .slide-text.slide-text-bf h2.slide-text-bf-main-text {
        flex-direction: column;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf h2.slide-text-bf-main-text span:first-child {
        font-size: 26px;
        margin-right: 0;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf h2.slide-text-bf-main-text span br {
        display: none;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf h2.slide-text-bf-main-text span:last-child {
        font-size: 44px;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf .slide-text-bf-sub-text {
        font-size: 12px;
        margin-bottom: 8px;
    }
    #slider .swiper-slide[data-left] .slide-text.slide-text-bf .slide-text-bf-sub-text br {
        display: none;
    }
    .slide-text-bf-cloth .btn.btn-lg.btn-white {
        display: none;
    }
    .slide-text-bf-date-mob {
        display: inline-block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
    }
}