/*////////*/
.innovation-box {
    background-image: url("../landing_files/ball.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 190px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innovation-box span {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(15deg);
}
section.all-night-section {
    background-image: url("../landing_files/cold_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    padding: 80px 16px;
    position: relative;
}
.all-night-section .innovation-box {
    position: absolute;
    right: 10%;
    top: 0;
    transform: translateY(-50%);
}
.all-night-section  h3 {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(178.51deg, #CBE5FF 4.05%, #85B2DE 77.71%, #3F7EBD 188.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.1;
    margin-bottom: 0;
}
/*////////*/

/*////////*/
section.two-in-one-section {
    position: relative;
    margin-top: 0;
    justify-content: space-between;
}
section.two-in-one-section .grid {
    min-height: 600px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 3% 60px;
}
.two-in-one-section_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.two-in-one-title {
    width: 100%;
    z-index: 1;
    font-size: 180px;
    line-height: 1;
    color: #fff;
    font-family: 'Cera Pro', sans-serif;
    text-align: end;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 300;
    padding: 35px 10% 120px;
}
.two-in-one-title span {
    font-size: 96px;
    font-weight: 400;
}
.two-in-one-item {
    z-index: 1;
    max-width: 360px;
}
.two-in-one-item-box {
    position: relative;
    font-family: 'Cera Pro', sans-serif;
    background: linear-gradient(0deg, rgba(142, 131, 114, 0.17), rgba(142, 131, 114, 0.17)), rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 5px solid #A9D4FF;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
    display: flex;
    padding: 90px 30px 30px;
    align-items: center;
}
.two-in-one-item-box-img-pillow {
    position: absolute;
    top: -38%;
    width: 250px;
    right: 3%;
}
.two-in-one-item-box-img-micro {
    position: absolute;
    top: -51%;
    width: 350px;
    right: -8%;
}
.two-in-one-item-box_num {
    font-size: 110px;
    line-height: 1;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 25px;
}
.two-in-one-item-box_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*////////*/


/*////////*/
.double-effect-section {
    padding: 40px 0;
}
.beauty-landing .dignities-section .grid {
    border-bottom: none;
}
.double-effect-section .dignities-section__items .item:first-child,
.double-effect-section .dignities-section__items .item:last-child {
    height: 43px;
    width: auto;
    padding: 0 18px;
    border: 2px solid #A9D4FF;
    font-size: 18px;
}
.double-effect-section .button {
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.double-effect-section .button:before {
    background: linear-gradient(178.51deg, #CBE5FF 4.05%, #85B2DE 77.71%, #3F7EBD 188.35%);
}
.double-effect-section .dignities-item div span:first-child {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #76ACE3;
}
.dignities-item__start {
    text-align: end;
}
.dignities-item__end {
    text-align: start;
}
.double-effect-section .dignities-section__content_left .dignities-item div,
.double-effect-section .dignities-section__content_right .dignities-item div {
    flex: 1 1 200px;
    max-width: 200px;
}
.double-effect-section .dignities-section__content_left .dignities-item,
.double-effect-section .dignities-section__content_right .dignities-item {
    align-items: center;
}
.double-effect-section .dignities-section__content {
    justify-content: center;
    align-items: center;
}
.double-effect-section .dignities-section__items {
    margin-top: 0;
    margin-bottom: 0;
}
.double-effect-section .dignities-section__content_left,
.double-effect-section .dignities-section__content_right {
    margin-top: 0;
}
.double-effect-section .dignities-section__content_left .dignities-item img,
.double-effect-section .dignities-section__content_right .dignities-item img {
    width: 120px;
}
.double-effect-section .dignities-section__content_center {
    position: relative;
    margin: 0 60px;
}
.double-effect-section .dignities-section__items .item:nth-child(2) {
    margin: 0 10px;
    font-size: 30px;
}
.double-effect-section .pillow-img-box__circles,
.double-effect-section .pillow-img-box__circles::after,
.double-effect-section .pillow-img-box__circles::before {
    border-color: rgb(63 126 189 / 23%);
}
.double-effect-section .pillow-img-box__circles {
    width: 190px;
    height: 190px;
}
/*////////*/

/*////////*/
section.tensela-section{
    display: flex;
    align-items: center;
    min-height: 660px;
    position: relative;
    margin-top: 0;
}
.tensela-section_img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tensela-section-info {
    position: absolute;
    width: 330px;
    z-index: 1;
    right: 10%;
}
.tensela-section-info-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #221D1E;
    margin-bottom: 16px;
}
.tensela-section-info-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: #000000;
}
/*////////*/

/*////////*/
section.benefit-section {
    margin-top: 0;
    min-height: 860px;
    position: relative;
    padding-top: 65px;
}
.benefit-section_img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom left;
}
.benefit-section-title {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(178.51deg, #CBE5FF 4.05%, #85B2DE 77.71%, #3F7EBD 188.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.1;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
}
.benefit-section-info {
    position: absolute;
    z-index: 1;
    width: 40%;
    right: 6%;
    bottom: 10%;
}
.benefit-section-info-item {
    position: relative;
    display: flex;
    align-items: start;
    margin-bottom: 3vw;
}
.benefit-section-info-item-line {
    display: flex;
    align-items: center;
    width: 50%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 31px;
    transform: translateX(calc(-100% - 14px));
}
.benefit-section-info-item-line__last {
    width: 22%;
}
.benefit-section-info-item-line:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
}
.benefit-section-info-item-img {
    margin-right: 20px;
}
.benefit-section-info-item-text {
    flex: 1;
}
.benefit-section-info-item-text h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 6px;
}
.benefit-section-info-item-text span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.4;
}
/*////////*/
section.difference-section {
    background-color: #EEF6FF;
    padding: 0 60px 40px;
    margin-top: 0;
}
.difference-section-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000000;
    padding: 60px 0 30px;
    margin-bottom: 0;
}
.difference-section-box {
    padding: 78px 40px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.difference-section-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: calc(100% / 2 - 40px);
}
.difference-section-item-img {
    position: relative;
    width: 100%;
}
.difference-section-item-img:nth-child(2) {
    margin-top: 20px;
}
.difference-section-item-img__big {
    flex: 1;
}
.difference-section-item-img img {
    width: 100%;
}
.difference-section-item-img__big img {
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
}
.difference-section-item-img picture {
    display: flex;
    height: 100%;
}
.difference-section-item-img-label {
    position: absolute;
    bottom: 20px;
    left: 16px;
    display: flex;
}
.difference-section-item-img-label img:first-child {
    margin-right: 12px;
}
.difference-section-item-img-label span {
    flex: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #221D1E;
}
.difference-section-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #000000;
    flex: 1;
    min-width: calc(100% / 2 - 40px);
}
/*////////*/
/*////////*/
/*////////*/
/*////////*/
/*////////*/

@media screen and (max-width: 1279px) {
    .double-effect-section .dignities-section__content_center {
        margin: 0 10px;
    }
    .double-effect-section .pillow-img-box__circles {
        width: 140px;
        height: 140px;
    }
    section.all-night-section {
        padding: 47px 16px;
    }
    .all-night-section h3 {
        font-size: 28px;
    }
    .innovation-box {
        width: 140px;
        height: 140px;
    }
    .innovation-box span {
        font-size: 13px;
    }
    .tensela-section-info {
        right: 6%;
    }
    .tensela-section_img {
        object-position: right;
    }
    .benefit-section_img {
        object-position: bottom center;
    }
    .benefit-section-title {
        font-size: 38px;
    }
}
@media screen and (max-width: 1023px) {
    .two-in-one-title {
        font-size: 125px;
        padding: 18px 10% 67px;
    }
    .two-in-one-item-box_text {
        font-size: 16px;
    }
    .two-in-one-item {
        max-width: 316px;
    }

    section.tensela-section {
        min-height: auto;
        flex-direction: column;
        align-items: stretch;
    }
    .tensela-section_img {
        position: static;
        object-position: center;
    }
    .tensela-section-info {
        position: static;
        width: 100%;
        padding: 32px calc((100% - var(--gridWidth)) / 2) 32px;
    }
    .tensela-section-info-title {
        font-size: 20px;
    }
    .tensela-section-info-text {
        font-size: 16px;
    }

    section.benefit-section {
        min-height: auto;
        padding-top: 0;
    }
    .benefit-section_img {
        position: static;
    }
    .benefit-section-info-item {
        margin-bottom: 40px;
    }
    .benefit-section-title {
        font-size: 24px;
        padding: 30px 0;
    }
    .benefit-section-info {
        position: static;
        width: 100%;
        padding: 0 16px;
    }
    .benefit-section-info-item-text h4 {
        font-size: 20px;
    }
    .benefit-section-info-item-text span {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        opacity: 1;
        color: #221D1E;
    }

    .double-effect-section .dignities-section__content_left .dignities-item img,
    .double-effect-section .dignities-section__content_right .dignities-item img {
        width: 70px;
    }
    .double-effect-section .dignities-item div span:first-child {
        font-size: 15px;
    }
    .double-effect-section .dignities-section__content {
        margin: 30px 0;
    }
    .difference-section-title {
        font-size: 22px;
    }
    .dignities-item div span:last-child {
        font-size: 12px;
    }
    .difference-section-item-img-label span {
        font-size: 10px;
    }
    .difference-section-item-img-label img:first-child {
        margin-right: 8px;
        width: 24px;
    }
    .difference-section-text {
        font-size: 16px;
    }
    .difference-section-box {
        padding: 46px 20px;
    }

}
@media screen and (max-width: 767px) {
    .double-effect-section .dignities-section__content_center {
        margin: 40px 0;
    }
    .all-night-section h3 {
        font-size: 20px;
    }
    .innovation-box {
        width: 100px;
        height: 100px;
    }
    .innovation-box span {
        font-size: 9px;
    }
    .all-night-section .innovation-box {
        right: 3%;
    }
    .two-in-one-title span {
        font-size: 82px;
        font-weight: 400;
    }
    .two-in-one-section_img {
        object-position: top;
    }
    section.two-in-one-section .grid {
        justify-content: center;
        padding: 0 0 60px;
        flex-direction: column;
        align-items: center;
    }
    .two-in-one-item-box {
        border: none;
        background: linear-gradient(178.51deg, #CBE5FF 4.05%, #85B2DE 77.71%, #3F7EBD 188.35%);
        backdrop-filter: blur(12px);
        padding: 64px 30px 30px;
    }
    .two-in-one-title {
        font-size: 82px;
        padding: 3px 8% 54%;
    }
    .two-in-one-title span {
        font-size: 52px;
        font-weight: 400;
    }
    .two-in-one-item {
        max-width: 300px;
    }
    .two-in-one-item:last-child {
        margin-top: 90px;
    }
    .two-in-one-item-box_text {
        font-size: 14px;
    }
    .two-in-one-item-box-img-pillow {
        top: -30%;
        width: 200px;
        right: 3%;
    }
    .two-in-one-item-box-img-micro {
        top: -39%;
        width: 259px;
        right: -8%;
    }
    .double-effect-section {
        padding: 0;
    }
    .double-effect-section .dignities-item div span:first-child {
        font-size: 14px;
    }
    .dignities-item div span:last-child {
        font-size: 14px;
        color: #221D1E;
        line-height: 1.4;
    }
    .double-effect-section .dignities-section__items .item:first-child,
    .double-effect-section .dignities-section__items .item:last-child {
        height: 34px;
        padding: 0 10px;
        font-size: 14px;
    }
    .double-effect-section .dignities-section__content_left .dignities-item div,
    .double-effect-section .dignities-section__content_right .dignities-item div {
        flex: 1;
        max-width: 100%;
    }
    .double-effect-section .dignities-section__content_left .dignities-item,
    .double-effect-section .dignities-section__content_right .dignities-item {
        align-items: start;
    }
    .double-effect-section .dignities-section__content_left .dignities-item img,
    .double-effect-section .dignities-section__content_right .dignities-item img {
        width: 64px;
        margin-right: 20px;
    }
    .dignities-section__content_left .dignities-item img {
        margin-right: 20px;
    }

    section.difference-section {
        background-color: #fff;
        padding: 0;
        margin-top: 0;
    }
    .difference-section-title {
        font-size: 18px;
        padding: 30px calc((100% - var(--gridWidth)) / 2) 16px;
    }
    .difference-section-box {
        gap: 20px;
        padding: 0;
    }
    .difference-section-item {
        min-width: 100%;
    }
    .difference-section-text {
        font-size: 16px;
        min-width: 100%;
        padding: 0 calc((100% - var(--gridWidth)) / 2);
    }
    .difference-section-item:nth-child(1) {
        order: 1;
    }
    .difference-section-item:nth-child(2) {
        order: 3;
    }
    .difference-section-text:nth-child(3) {
        order: 2;
    }
    .difference-section-text:nth-child(4) {
        order: 4;
    }
    .difference-section-item-img-label {
        bottom: 10px;
        left: 10px;
    }
    .structure-section .slide-description h3 {
        text-align: center;
    }
}
@media screen and (max-width: 540px) {
    .tensela-section-info-title {
        font-size: 14px;
    }
    .tensela-section-info-text {
        font-size: 14px;
        color: #221D1E;
        font-weight: 300;
    }
    .benefit-section-title {
        font-size: 14px;
        padding: 20px 0;
    }
    .benefit-section-info-item-text h4 {
        font-size: 14px;
    }
    .benefit-section-info-item-text span {
        font-size: 14px;
        font-weight: 300;
    }
    .difference-section-text {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 300;
    }
    .structure-section .slide-description p {
        font-size: 14px;
        line-height: 1.4;
        color: #221D1E;
        font-weight: 300;
    }
}
