.structure-section .structure-section__content {
    flex-wrap: wrap;
}
.structure-section .slide-description {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.structure-section .slide-description h3 {
    text-align: center;
    font-weight: 300;
    font-size: clamp(18px, calc(32/1920*100vw), 32px);
    line-height: 1.5;
    text-transform: uppercase;
    color: #221D1E;
    margin-bottom: clamp(16px, calc(32/1920*100vw), 32px);
}
.structure-section .slide-description h3 b {
    font-weight: 500;
}
.structure-section .slide-description p {
    margin-bottom: clamp(24px, calc(64/1920*100vw), 64px);
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.5;
}
.structure-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: clamp(24px, calc(90 / 1920* 100vw), 90px);
}
.structure-button .button {
    display: inline-flex;
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920* 100vw), 18px);
    height: clamp(28px, calc(44 / 1920* 100vw), 44px);
    padding: 0 clamp(16px, calc(32 / 1920* 100vw), 32px);
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
}
.structure-button .button.gradient {
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
}
.structure-button .button.gradient:hover {
    opacity: 0.9;
}
.structure-button .button.gradient::before {
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
}

.structure-button .button.gradient>svg {
    margin-left: 0.4em;
    margin-right: 0;
}
.structure-imgages .pillow-label {
    display: none;
}
.structure-list li span.li-hint {
    display: none;
}
.structure-list li:before {
    width: clamp(24px, calc(40/1920*100vw), 40px);
    height: clamp(24px, calc(40/1920*100vw), 40px);
    font-weight: 500;
    font-size: clamp(10px, calc(18/1920*100vw), 18px);
    margin-right: clamp(10px, calc(20/1920*100vw), 20px);
}
.structure-list li {
    font-weight: 500;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.4;
    margin-bottom: 16px;
}
.structure-list li span {
    font-weight: 500;
}
.structure-list {
    width: 460px;
    margin-left: 150px;
}
.structure-imgages {
    width: 626px;
}

@media screen and (max-width: 1279px) {
    .structure-list {
        width: 273px;
        margin-left: 44px;
    }
    .structure-section .structure-imgages {
        width: 365px;
    }
}

@media screen and (max-width: 767px) {
    .structure-section .structure-imgages {
        width: 100%;
        margin-top: 0;
    }
    .structure-list {
        width: 100%;
        margin-left: 0;
    }
    .structure-button .button {
        min-width: 165px;
    }
    .structure-section .structure-section__content {
        margin-bottom: 64px;
        padding-bottom: 0;
    }

}
@media (max-width: 576px) {
    .structure-section .slide-description h3 {
        text-align: center;
    }
    .structure-section .slide-description p {
        text-align: center;
        line-height: 1.4;
    }
}