/*это не нужно, это временно чтобы удобно было работать*/
/*body * {*/
/*    transition: none !important;*/
/*}*/
/*html {*/
/*    overflow: auto !important;*/
/*}*/
/*html body {*/
/*    overflow: auto !important;*/
/*}*/
/*это не нужно, это временно чтобы удобно было работать*/

.br-mobile {
    display: none;
}
.br-desktop {
    display: inline-block;
}
.bold-mobile {
    font-weight: 300;
}
.bold-desktop {
    font-weight: 500;
}
.hyaluron-main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Cera Pro', sans-serif;
}
.hyaluron-main-innovation {
    font-weight: 700;
    font-size: clamp(7px, calc(24 / 1920 * 100vw), 24px);
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 12%;
    background-image: url(../landing_files/images/innovation-molecula.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1em;
    width: 8em;
    height: 8em;
}
.hyaluron-main-innovation > span {
    transform: rotate(-5.19deg);
}
.hyaluron-main-section picture {
    display: flex;
    width: 100%;
}
.hyaluron-main-section picture img {
    width: 100%;
}
.hyaluron-main-text {
    position: absolute;
    bottom: clamp(24px, calc(60/1920*100vw), 60px);
    max-width: 60%;
}
.hyaluron-main-text h1 {
    color: #fff;
    font-weight: 500;
    font-size: clamp(24px, calc(48/1920*100vw), 48px);
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: clamp(13px, calc(20/1920*100vw), 20px);
    position: relative;
    z-index: 1;
}
.hyaluron-main-text p {
    color: #fff;
    font-weight: 500;
    font-size: clamp(14px, calc(32/1920*100vw), 32px);
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

body section.hyaluron-text-section {
    margin: 0;
    padding: clamp(24px, calc(76/1920*100vw), 76px) 20px;
}
.hyaluron-text-section h3 {
    font-weight: 500;
    font-size: clamp(18px, calc(48/1920*100vw), 48px);
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 0;
}
.hyaluron-text-section h3 b {
    font-weight: 500;
}

body section.hyaluron-two-in-one-section {
    position: relative;
    margin-top: 0;
    padding-top: 0;
    background-color: #eeeae5;
}
.hyaluron-two-in-one-section picture {
    display: flex;
}
.hyaluron-two-in-one-section picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.hyaluron-two-in-one-title {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 300;
    font-size: clamp(90px, calc(180/1920*100vw), 180px);
    line-height: 1;
    align-items: center;
    position: absolute;
    top: 7%;
    right: 21%;
    color: #fff;
}
.hyaluron-two-in-one-title span {
    font-weight: 250;
    font-size: clamp(47px, calc(96/1920*100vw), 96px);
}
.hyaluron-two-in-one-card {
    position: absolute;
    bottom: 63px;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 2% 1% 2% 1%;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #FFF8EC;
    box-shadow: 0px 100px 80px rgba(144, 119, 93, 0.06), 0px 41.7776px 33.4221px rgba(144, 119, 93, 0.0431313), 0px 22.3363px 17.869px rgba(144, 119, 93, 0.0357664), 0px 12.5216px 10.0172px rgba(144, 119, 93, 0.03), 0px 6.6501px 5.32008px rgba(144, 119, 93, 0.0242336), 0px 2.76726px 2.21381px rgba(144, 119, 93, 0.0168687);
    border-radius: 16px;
    max-width: 31%;
    gap: 2%;
}
.hyaluron-two-in-one-card_pillow {
    left: 6%;
}
.hyaluron-two-in-one-card-info.hyaluron-two-in-one-card-info p {
    width: 66%;
}
.hyaluron-two-in-one-card_fiber {
    right: 5%;
    max-width: 29%;
}
.hyaluron-two-in-one-card-pillow {
    right: -8%;
    position: absolute;
    max-width: 41%;
    bottom: 12%;
}
.hyaluron-two-in-one-card-fiber {
    position: absolute;
    max-width: 58%;
    top: 7%;
    right: -16%;
}
.hyaluron-two-in-one-card-num {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: clamp(64px, calc(120/1920*100vw), 120px);
    line-height: 1;
    top: -7%;
    position: relative;
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.hyaluron-two-in-one-card-info {
    font-family: 'Cera Pro', sans-serif;
}
.hyaluron-two-in-one-card-info h3 {
    font-family: 'Cera Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(18px, calc(32/1920*100vw), 32px);
    line-height: 1.5;
    text-transform: uppercase;
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: start;
    margin-bottom: clamp(10px, calc(16/1920*100vw), 16px);

}
.hyaluron-two-in-one-card-info p {
    font-style: normal;
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.5;
    color: #A484B7;
}
.hyaluron-two-in-one-card-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 2em;
    margin-top: clamp(16px, calc(32/1920*100vw), 32px);
    height: clamp(28px, calc(44/1920*100vw), 44px);
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    border-radius: 24px;
    color: #fff;
    font-weight: 500;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.hyaluron-two-in-one-card-button:hover {
    opacity: 0.9;
}


body section.hyaluron-diff-section {
    margin: clamp(64px, calc(128/1920*100vw), 128px) 0;
}
.hyaluron-diff-section h3 {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 300;
    font-size: clamp(18px, calc(32/1920*100vw), 32px);
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: clamp(24px, calc(64/1920*100vw), 64px);
}
.hyaluron-diff-section h3 b {
    font-weight: 500;
}
.hyaluron-diff-sides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    position: relative;
}
.hyaluron-diff-sides picture {
    display: flex;
    width: 100%;
}
.hyaluron-diff-sides picture img {
    width: 100%;
}
.hyaluron-diff-side-left {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.hyaluron-diff-side-left-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.hyaluron-diff-side-left-item {
    position: relative;
    flex: 1;
}
.hyaluron-diff-side-left-badge {
    position: absolute;
    bottom: 7%;
    left: 3%;
    display: flex;
    align-items: center;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: clamp(10px, calc(18/1920*100vw), 18px);
    line-height: 1.3;
    text-transform: uppercase;
    color: #4F6FC1;
}
.hyaluron-diff-side-left-badge svg {
    width: 2em;
    margin-right: 0.5em;
}
.hyaluron-diff-side-right {
    padding-right: 20px;
}
.hyaluron-diff-sides p {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.5;
    color: #221D1E;
    padding-top: clamp(10px, calc(20/1920*100vw), 20px);
}

body section.hyaluron-proven-section {
    margin-top: 0;
    padding-top: clamp(64px, calc(128 / 1920* 100vw), 128px);
}
.hyaluron-proven-section:before {
    content: '';
    display: block;
    height: 1px;
    width: calc(100% - clamp(20px, calc(40 / 1920* 100vw), 40px));
    background-color: #EDE6F1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.hyaluron-proven-section .hyaluron-proven-title {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 300;
    font-size: clamp(18px, calc(32 / 1920* 100vw), 32px);
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: clamp(24px, calc(64 / 1920* 100vw), 64px);
    padding: 0 20px;
    position: relative;
}
.hyaluron-proven-title b {
    font-weight: 500;
}
.hyaluron-proven-section .hyaluron-proven-sub {
    font-family: 'Cera Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: clamp(18px, calc(32 / 1920* 100vw), 32px);
    line-height: 1.5;
    text-transform: uppercase;
    color: #221D1E;
    text-align: center;
    padding: 0 10%;
}
.hyaluron-proven-percent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: clamp(24px, calc(64 / 1920* 100vw), 64px) 8% clamp(24px, calc(128 / 1920* 100vw), 128px);
}
.hyaluron-proven-percent-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.hyaluron-proven-percent-item-mob {
    display: none;
}
.hyaluron-proven-percent-link-mob {
    display: none;
}
.hyaluron-proven-percent-item a {
    text-align: center;
    width: 68%;
}
.hyaluron-proven-percent-num {
    display: flex;
    align-items: center;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 300;
    font-size: 100px;
    line-height: 1;
    letter-spacing: -0.05em;
    background: linear-gradient(65.37deg, #F0C9D1 0%, #6E89C3 108.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.hyaluron-proven-percent-num span {
    font-size: 48px;
}
.hyaluron-proven-percent-title {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    background: linear-gradient(65.37deg, #F0C9D1 0%, #6E89C3 108.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.hyaluron-proven-percent-item_line:before {
    content: '';
    display: block;
    height: 120%;
    width: 1px;
    background-color: #EAEDFF;
    position: absolute;
    top: -20%;
    left: 0;
}
.hyaluron-proven-percent-item_line:after {
    content: '';
    display: block;
    height: 120%;
    width: 1px;
    background-color: #EAEDFF;
    position: absolute;
    top: -20%;
    right: 0;
}
.hyaluron-proven-percent-item_link a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}
.hyaluron-proven-percent-item_link-text {
    font-weight: 400;
    font-size: clamp(7px, calc(10 / 1920* 100vw), 10px);
    line-height: 1.2;
    text-transform: uppercase;
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
    width: clamp(90px, calc(110 / 1920* 100vw), 110px);
    height: clamp(90px, calc(110 / 1920* 100vw), 110px);
    border-radius: 50%;
    border: 1px solid #7B4C8E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hyaluron-proven-percent-item_link-text svg {
    position: absolute;
    bottom: 1em;
    right: -4.3em;
    width: clamp(44px, calc(54 / 1920* 100vw), 54px);
}

.hyaluron-proven-percent-item-desk {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.hyaluron-proven-percent-count {
    font-weight: 300;
    font-size: clamp(54px, calc(100 / 1920* 100vw), 100px);
    line-height: 0.8;
    letter-spacing: -0.05em;
    display: flex;
    align-items: center;
    gap: 0.1em;
}
.hyaluron-proven-percent-count i {
    font-weight: 500;
    font-size: clamp(25px, calc(48 / 1920* 100vw), 48px);
    line-height: 1;
    text-transform: uppercase;
    font-style: normal;
}
.hyaluron-proven-percent-text {
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920* 100vw), 18px);
    line-height: 1.5;
    text-transform: uppercase;
}

.hyaluron-proven-wakeup {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FCF9FA;
    height: 100%;
    align-items: start;
}
.hyaluron-proven-wakeup-img {
    position: relative;
    height: 100%;
}
.hyaluron-proven-wakeup-img picture {
    display: flex;
    height: 100%;
}
.hyaluron-proven-wakeup-img picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hyaluron-proven-wakeup-info {
    padding-top: clamp(24px, calc(50 / 1920* 100vw), 50px);
    padding-left: clamp(10px, calc(64 / 1920* 100vw), 64px);
}
.hyaluron-proven-wakeup-info-title {
    font-style: normal;
    font-weight: 500;
    font-size: clamp(18px, calc(32 / 1920* 100vw), 32px);
    line-height: 1.5;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: clamp(24px, calc(64 / 1920* 100vw), 64px);
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.hyaluron-proven-wakeup-info-title-mob {
    display: none;
}
.hyaluron-proven-wakeup-info-list {
    display: flex;
    flex-direction: column;
    gap: clamp(24px, calc(32 / 1920* 100vw), 32px);
    list-style: none;
    height: 100%;
}
.hyaluron-proven-wakeup-info-list li {
    display: flex;
    align-items: center;
    gap: 0 clamp(10px, calc(20 / 1920* 100vw), 20px);
    position: relative;
}
.hyaluron-proven-wakeup-info-list-icon {
    width: clamp(78px, calc(98 / 1920* 100vw), 98px);
    position: relative;
}
.hyaluron-proven-wakeup-info-list-line {
    position: absolute;
    width: 65%;
    transform: translateX(-104%);
}
.hyaluron-proven-wakeup-info-list li:nth-child(2) .hyaluron-proven-wakeup-info-list-line {
    bottom: 44%;
    width: 55%;
}
.hyaluron-proven-wakeup-info-list li:nth-child(3) .hyaluron-proven-wakeup-info-list-line {
    bottom: 44%;
}
.hyaluron-proven-wakeup-info-list-description {
    flex: 1;
    padding-right: 4%;
}
.hyaluron-proven-wakeup-info-list-description h4 {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920* 100vw), 18px);
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: clamp(10px, calc(16 / 1920* 100vw), 16px);
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.hyaluron-proven-wakeup-info-list-description p {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 300;
    font-size: clamp(14px, calc(18 / 1920* 100vw), 18px);
    line-height: 1.5;
    color: #221D1E;
    width: 80%;
}
.hyaluron-proven-wakeup-info-list-description b {
    font-weight: 500;
}

body section.hyaluron-cutting-edge-section {
    margin-top: 0;
    padding-top: 0;
    position: relative;
    background-color: #FCF9FA;
}
.hyaluron-cutting-edge-img {
    position: relative;
    padding-top: 24px;
    margin-bottom: -19%;
}
.hyaluron-cutting-edge-img picture {
    display: flex;
    width: 100%;
}
.hyaluron-cutting-edge-img picture img {
    width: 100%;
}
.hyaluron-cutting-edge-info {
    position: absolute;
    top: 20%;
    left: 10%;
}
.hyaluron-cutting-edge-section h2 {
    font-weight: 500;
    font-size: clamp(18px, calc(32 / 1920* 100vw), 32px);
    line-height: 1.5;
    text-transform: uppercase;
    color: #A484B7;
    position: absolute;
    top: 8%;
    left: 10%;
    z-index: 1;
}
.hyaluron-cutting-edge {
    display: flex;
    grid-template-columns: 20% 100%;
    position: relative;
    padding-left: 3.5em;
    font-size: clamp(14px, calc(18 / 1920* 100vw), 18px);
}
.hyaluron-cutting-edge-num {
    font-weight: 500;
    font-size: clamp(85px, calc(120 / 1920* 100vw), 120px);
    line-height: 1;
    text-transform: uppercase;
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: absolute;
    top: 0;
    height: 0.7em;
    left: -0.2em;
    aspect-ratio: 1/1;
    display: flex;
    align-items: start;
    justify-content: start;
}
.hyaluron-cutting-edge-text {
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    color: #A484B7;
}
.hyaluron-cutting-edge-video {
    position: relative;
    z-index: -1;
}
.hyaluron-cutting-edge-video .hyaluron-cutting-edge-info {
    top: auto;
    left: auto;
    bottom: 18%;
    right: 11%;
}
.hyaluron-cutting-edge-video .hyaluron-cutting-edge-num {
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background-clip: unset;
    color: #fff;
}
.hyaluron-cutting-edge-num-mob {
    display: none;
}
.hyaluron-cutting-edge-video .hyaluron-cutting-edge-text {
    color: #fff;
}

.hyaluron-dignities-section .pillow-img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.pillow-img-box-anty-hydra {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pillow-img-box-anty-hydra svg {
    width: clamp(14px, calc(20 / 1920* 100vw), 20px);
}
.pillow-img-box-anty-hydra-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    border-radius: 100px;
    font-weight: 500;
    font-size: clamp(18px, calc(32 / 1920* 100vw), 32px);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #221D1E;
    padding: 0.4em 20px;
    position: relative;
}
.pillow-img-box-anty-hydra-item span {
    z-index: 1;
}
.pillow-img-box-anty-hydra-item:before {
    content: '';
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 100px;
    position: absolute;
    z-index: 0;
    background-color: #fff;
}
.hyaluron-dignities-section .pillow-img-box .pillow-img-box-picture {
    display: flex;
    width: 120%;
    z-index: 1;
}
.pillow-img-box-button {
    position: absolute;
    bottom: -19%;
    right: 0;
    left: 0;
}
.pillow-img-box-button a {
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920* 100vw), 18px);
    min-height: clamp(28px, calc(44 / 1920* 100vw), 44px);
    padding: 4px clamp(16px, calc(32 / 1920* 100vw), 32px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
    border-radius: 24px;
    color: #ffffff;
    text-transform: uppercase;
}
.pillow-img-box-button a svg {
    margin-right: 0.4em;
    width: clamp(18px, calc(24 / 1920* 100vw), 24px);
}
.pillow-img-box-button a:hover {
    opacity: 0.9;
}
.pillow-img-box-button.mobile {
    display: none;
}
.pillow-img-box-anty-hydra-mob {
    display: none;
}
.hyaluron-dignities-section .dignities-section__content {
    align-items: center;
}
.hyaluron-dignities-section .dignities-section__content_left,
.hyaluron-dignities-section .dignities-section__content_right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    width: 66%;
}
.hyaluron-dignities-section .dignities-item.left,
.hyaluron-dignities-section .dignities-item.right {
    margin-bottom: 0;
    align-items: center;
}
.hyaluron-dignities-section .dignities-item.left {
    text-align: right;
    padding-left: clamp(10px, calc(20 / 1920* 100vw), 20px);
}
.hyaluron-dignities-section .dignities-item.right {
    text-align: left;
    padding-right: clamp(10px, calc(20 / 1920* 100vw), 20px);
}
.hyaluron-dignities-section .dignities-item div span:first-child {
    font-family: 'Cera Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920* 100vw), 18px);
    line-height: 1.5;
    text-transform: uppercase;
    color: #A484B7;
    margin-bottom: clamp(4px, calc(16 / 1920* 100vw), 16px);
}
.hyaluron-dignities-section .dignities-item div span:last-child {
    font-family: 'Cera Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: clamp(14px, calc(18 / 1920* 100vw), 18px);
    line-height: 1.5;
    color: #221D1E;
    min-height: auto;
}
.hyaluron-dignities-section .dignities-section__content_right .dignities-item img,
.hyaluron-dignities-section  .dignities-section__content_left .dignities-item img {
    width: auto;
    height: auto;
}
.hyaluron-dignities-section .dignities-item.left img {
    margin-left: clamp(10px, calc(20 / 1920* 100vw), 20px);
    width: clamp(78px, calc(120 / 1920* 100vw), 120px);
}
.hyaluron-dignities-section .dignities-item.right img {
    margin-right: clamp(10px, calc(20 / 1920* 100vw), 20px);
    width: clamp(78px, calc(120 / 1920* 100vw), 120px);
}
.pillow-img-box .pillow-img-box-anty-hydra {
    position: absolute;
    top: -21%;
}
.hyaluron-dignities-section.dignities-section__content {
    align-items: center;
}
.hyaluron-dignities-section .pillow-img-box__circles::after,
.hyaluron-dignities-section .pillow-img-box__circles::before {
    border-color: #BCA6C9;
}
.hyaluron-dignities-section .pillow-img-box__circles {
    border-color: #BCA6C9;
}


body section.hyaluron-pillow-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: clamp(10px, calc(20 / 1920* 100vw), 20px);
    grid-row-gap: clamp(24px, calc(64 / 1920* 100vw), 64px);
    padding: clamp(64px, calc(256 / 1920* 100vw), 256px) 0 clamp(64px, calc(238 / 1920* 100vw), 238px);
    margin-top: 0;
}
.hyaluron-pillow-section:after {
    content: '';
    display: block;
    height: 1px;
    width: calc(100% - clamp(20px, calc(40 / 1920* 100vw), 40px));
    background-color: #EDE6F1;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    margin: auto;
}
.dignities-item-1 { grid-area: 1 / 1 / 2 / 2; }
.dignities-item-2 { grid-area: 2 / 1 / 3 / 2; }
.dignities-item-3 { grid-area: 3 / 1 / 4 / 2; }
.dignities-item-4 { grid-area: 1 / 3 / 2 / 4; }
.dignities-item-5 { grid-area: 2 / 3 / 3 / 4; }
.dignities-item-6 { grid-area: 3 / 3 / 4 / 4; }

.dignities-section__content_center {
    grid-area: 1 / 2 / 4 / 3;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

body section.structure-section {
    margin-top: 0;
    padding-top: clamp(64px, calc(128 / 1920 * 100vw), 128px);
}
body section.structure-section .grid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
.structure-section .slide-description h3 {
    text-align: start;
}

/*bottom-toaster*/
.bottom-toaster {
    padding: clamp(4px, calc(8 / 1920 * 100vw), 8px) clamp(10px, calc(64 / 1920 * 100vw), 64px);
    height: clamp(56px, calc(136 / 1920 * 100vw), 136px);
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0 -4px 12px rgba(34, 29, 30, 0.1);
}
.bottom-toaster-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.bottom-toaster-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: clamp(8px, calc(20 / 1920 * 100vw), 20px);
    height: 100%;
}
.bottom-toaster-box-picture {
    height: 94%;
}
.bottom-toaster-box-picture img {
    max-height: 100%;
}
.bottom-toaster-box-title h3 {
    font-weight: 500;
    font-size: clamp(14px, calc(32 / 1920 * 100vw), 32px);
    line-height: 1.5;
    text-transform: uppercase;
    color: #221D1E;
}
.bottom-toaster-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bottom-toaster-button .button {
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920 * 100vw), 18px);
    height: clamp(28px, calc(44 / 1920 * 100vw), 44px);
    padding: 0 clamp(16px, calc(32 / 1920 * 100vw), 32px);
    line-height: 1;
    text-transform: uppercase;
    color: #221D1E;
}
.bottom-toaster-button .button > svg {
    margin-left: 0.4em;
    margin-right: 0;
}
@media (max-width: 576px) {
    .bottom-toaster-button .button > span {
        display: none;
    }
    .bottom-toaster-button .button {
        border: 1px solid #221D1E;
        padding: 4px 12px;
        background: #fff;
        height: 32px;
    }
    .bottom-toaster-button .button > svg {
        margin-left: 0;
        margin-right: 0;
        width: 22px;
    }
}
/*bottom-toaster*/

@media screen and (max-width: 1279px) {
    body section.hyaluron-two-in-one-section {
        overflow: hidden;
        padding: 90% 0 34px;
    }

    /*hyaluron-two-in-one*/
    .hyaluron-two-in-one-section .hyaluron-two-in-one-bg {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
    }
    .hyaluron-two-in-one-section .hyaluron-two-in-one-bg img {
        width: 100%;
    }
    .hyaluron-two-in-one-card {
        position: relative;
        width: 100%;
        max-width: 340px;
        left: auto;
        right: auto;
        bottom: auto;
        margin: auto;
        padding: 10px;
    }
    .hyaluron-two-in-one-title {
        position: absolute;
        left: auto;
        right: 5%;
        top: 1%;
        text-align: end;
        padding: 0 10px;
    }
    .hyaluron-two-in-one-card-pillow {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-80%);
    }
    .hyaluron-two-in-one-card-fiber {
        position: absolute;
        max-width: 59%;
        top: 0;
        right: 0;
        transform: translateY(-75%);
    }
    .hyaluron-two-in-one-card_pillow {
        margin-bottom: 86px;
    }
    .hyaluron-text-section h3 br {
        display: none;
    }
    .hyaluron-two-in-one-card-num {
        top: -8%;
    }
    .hyaluron-two-in-one-card-info.hyaluron-two-in-one-card-info p {
        width: 100%;
    }
    .hyaluron-two-in-one-card-button {
        display: none;
    }
    /*hyaluron-two-in-one*/



    .hyaluron-dignities-section .dignities-section__content_right .dignities-item img,
    .hyaluron-dignities-section .dignities-section__content_left .dignities-item img {
        width: 50px;
    }
    .hyaluron-dignities-section .dignities-item div span:first-child,
    .hyaluron-dignities-section .dignities-item div span:last-child {
        line-height: 1.4;
    }
    .hyaluron-dignities-section .dignities-item.right img {
        margin-right: 0;
    }
    .pillow-img-box .pillow-img-box-anty-hydra {
        position: static;
        margin-bottom: 24px;
    }
    .hyaluron-dignities-section .dignities-section__content_center {
        width: auto;
    }
    .hyaluron-dignities-section .pillow-img-box__circles {
        position: absolute;
        width: 14vw;
        height: 14vw;
        border-width: 3px;
    }
    .hyaluron-dignities-section .dignities-item img {
        width: 28%;
    }
}

@media (max-width: 768px) {
    .br-mobile {
        display: block;
    }
    .br-desktop {
        display: none;
    }
    .bold-mobile {
        font-weight: 500;
    }
    .bold-desktop {
        font-weight: 300;
    }

    .hyaluron-main-text {
        max-width: 100%;
    }
    .hyaluron-main-innovation {
        right: 4%;
    }
    .hyaluron-text-section h3 {
        line-height: 1.5;
    }

    .hyaluron-diff-sides {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        position: relative;
    }
    .hyaluron-diff-sides:before {
        display: none;
    }
    .hyaluron-diff-side-left {
        padding-left: 0;
    }
    .hyaluron-diff-side-right {
        padding-right: 0;
    }
    .hyaluron-diff-sides p {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.4;
    }
    .hyaluron-diff-side-left-item-wrapper {
        gap: 10px;
    }
    .hyaluron-proven-wakeup {
        grid-template-columns: 1fr;
    }
    .hyaluron-proven-wakeup-info-title {
        display: none;
    }
    .hyaluron-proven-wakeup-info-title-mob {
        display: inline-block;
        font-style: normal;
        font-weight: 500;
        font-size: clamp(18px, calc(32 / 1920* 100vw), 32px);
        line-height: 1.5;
        text-transform: uppercase;
        padding-top: 24px;
        margin-bottom: 24px;
        text-align: center;
        background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .hyaluron-proven-wakeup-info {
        padding-right: clamp(10px, calc(64 / 1920* 100vw), 64px);
        padding-bottom: clamp(24px, calc(50 / 1920* 100vw), 50px);
    }
    .hyaluron-proven-wakeup-info-list-icon {
        margin-top: 0;
        width: 23%;
        position: relative;
    }
    .hyaluron-proven-wakeup-info-list-icon img {
        width: 100%;
    }
    .hyaluron-proven-wakeup-info-list li {
        align-items: start;
        /*margin-bottom: 10%;*/
        /*gap: 0 4%;*/
    }
    .hyaluron-proven-wakeup-info-list li:last-child {
        margin-bottom: 0;
    }
    .hyaluron-proven-wakeup-info-list-line {
        display: none;
    }
    .hyaluron-proven-wakeup-info-list-description p {
        width: 100%;
        line-height: 1.4;
    }


    body section.hyaluron-pillow-section {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 20% 10px 64px;
    }
    .dignities-section__content_center {
        order: 1;
    }
    .dignities-item-1 {
        order: 2;
    }
    .dignities-item-2 {
        order: 3;
    }
    .dignities-item-3 {
        order: 4;
    }
    .dignities-item-4 {
        order: 5;
    }
    .dignities-item-5 {
        order: 6;
    }
    .dignities-item-6 {
        order: 7;
    }
    .hyaluron-dignities-section .dignities-item.left img {
        /*margin-right: 3%;*/
        margin-left: 0;
    }
    .hyaluron-dignities-section .dignities-item.left {
        text-align: start;
        padding-left: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        gap: 10px;
    }
    .hyaluron-dignities-section .dignities-item.right {
        text-align: left;
        padding-right: 0;
        display: flex;
        align-items: start;
        gap: 10px;
    }
    .hyaluron-dignities-section .dignities-item img {
        /*width: 23%;*/
    }
    .pillow-img-box-anty-hydra-mob {
        display: block;
    }
    .pillow-img-box-anty-hydra-desc {
        display: none;
    }
    .hyaluron-dignities-section .pillow-img-box .pillow-img-box-picture {
        width: 120%;
        margin-bottom: 24px;
    }
    .pillow-img-box-anty-hydra-item {
        padding: 0.7em 20px;
    }
    .pillow-img-box-button {
        position: static;
    }
    .hyaluron-dignities-section .dignities-section__content_center {
        margin-bottom: 2%;
    }
    .hyaluron-dignities-section .dignities-item div {
        margin-bottom: 0;
        flex: 1;
    }
    .hyaluron-dignities-section .pillow-img-box__circles {
        position: absolute;
        width: 44vw;
        height: 44vw;
        border-width: 2px;
    }
    .hyaluron-pillow-section:after {
        background-color: #EDE6F1;
    }
    body section.hyaluron-proven-section {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
    .hyaluron-proven-percent-item_line:before,
    .hyaluron-proven-percent-item_line:after {
        display: none;
    }
    .hyaluron-proven-percent-item svg {
        width: 80%;
    }
    .hyaluron-proven-percent-item-mob {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .hyaluron-proven-percent-item-desk {
        display: none;
    }
    .hyaluron-proven-percent-link-mob svg {
        position: absolute;
        bottom: 11%;
        right: -12%;
        width: 10%;
        height: auto;
    }
    .hyaluron-proven-percent-item_link {
        display: none;
    }
    .hyaluron-proven-section .hyaluron-proven-title {
        order: 1;
        padding: 19% 10px 0;
    }
    .hyaluron-proven-percent {
        order: 2;
        padding: 0 10px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 24px;
    }
    .hyaluron-proven-section .hyaluron-proven-sub{
        order: 3;
        padding: 0 10px 24px;
    }
    .hyaluron-proven-section .hyaluron-proven-title:before {
        background-color: #EDE6F1;
    }
    .hyaluron-proven-percent-link-mob {
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        text-decoration: underline;
        text-transform: uppercase;
        position: relative;
        order: 4;
        margin-bottom: 64px;
        padding: 0;
        align-self: center;
        background: linear-gradient(90deg, #DCC2EC -28.87%, #93819E 47.91%, #DCC3ED 98.11%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .hyaluron-proven-percent-link-mob:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #93819E;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .hyaluron-proven-wakeup {
        order: 5;
    }
    .hyaluron-proven-wakeup-info-list-description b {
        font-weight: 400;
    }
    .hyaluron-cutting-edge-section h2 {
        position: static;
        text-align: center;
    }
    body section.hyaluron-cutting-edge-section {
        margin-top: 64px;
        padding-bottom: 64px;
        position: relative;
        background-color: #fff;
    }
    body section.hyaluron-cutting-edge-section:after {
        content: '';
        display: block;
        height: 1px;
        width: calc(100% - 20px);
        background-color: #EDE6F1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    /*.pillow-img-box-anty-hydra-item {*/
    /*    padding: 0.7em 20px;*/
    /*}*/
    .hyaluron-cutting-edge-info {
        position: static;
    }
    .hyaluron-cutting-edge-img .hyaluron-cutting-edge-info {
        padding-top: 16px;
    }
    .hyaluron-cutting-edge {
        padding-left: 8em;
        color: #221D1E;
        background: none;
        font-weight: 300;
    }
    .hyaluron-cutting-edge-num {
        height: 1em;
        left: 0.2em;
    }
    .hyaluron-cutting-edge-img {
        margin-bottom: 6%;
    }
    .hyaluron-cutting-edge-video-wrapper {
        height: 70vw;
        overflow: hidden;
        margin-bottom: 6%;
    }
    .hyaluron-cutting-edge-video-wrapper video {
        height: 100%;
        object-fit: cover;
    }
    .hyaluron-cutting-edge-video .hyaluron-cutting-edge-num {
        background: none;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        background-clip: unset;
        color: #fff;
    }
    .hyaluron-cutting-edge-num-mob {
        display: block;
    }
    .hyaluron-cutting-edge-num-desk {
        display: none;
    }
    /*.hyaluron-cutting-edge-video .hyaluron-cutting-edge-text br {*/
    /*    display: none;*/
    /*}*/
    .hyaluron-cutting-edge-video .hyaluron-cutting-edge-text {
        color: #221D1E;
        font-weight: 300;
        text-transform: none;
        line-height: 1.4;
    }
    .hyaluron-cutting-edge-text {
        color: #221D1E;
        font-weight: 300;
        text-transform: none;
    }
    /*body section.hyaluron-diff-section {*/
    /*    margin-bottom: 24%;*/
    /*}*/
}

@media (max-width: 576px) {
    .hyaluron-cutting-edge {
        padding-left: 6em;
    }
    .hyaluron-cutting-edge-num {
        left: 0;
    }
}


