header {
    display: none !important;
}
.defence {
    margin-top: 0!important;
    background: #fcf9f9;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 100%;
    /* justify-content: center; */
}
.defence-video-block {
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    /* align-self: flex-start; */
}
.defence-video-block:after {
    content: '';
    display: block;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FCF9F9 98.64%);
    top: 0;
    right: -2px;
    bottom: 0;
    width: 50%;
    position: absolute;
}
.defence .block {
    width: 80%;
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 30%;
    padding-top: 84px;
    padding-bottom: 136px;
    align-self: end;
}

.defence video {
    opacity: 0.99;
    height: 100%;
}
.defence .title {
    position: relative;
    z-index: 1;
    width: 80%;
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    padding-left: 30%;
    padding-top: 84px;
    padding-bottom: 53px;
    align-self: end;
}
.defence h3 {
    text-align: start;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
    background: linear-gradient(273deg, #9E866C 22.37%, #B8A284 25.3%, #AD9378 31.16%, #DDCEBA 33.99%, #AB8F76 36.27%, #735B42 49.99%, #A58B6E 53.33%, #B79A7A 60.45%, #8F7E61 64.21%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}
.defence .title-cu-1 {
    position: absolute;
    width: 180px;
    right: -44%;
    bottom: -88%;
}
.defence .title-cu-2 {
    position: absolute;
    width: 131px;
    right: -28%;
    bottom: -7%;
}
.defence .title-cu-3 {
    position: absolute;
    width: 87px;
    right: -20%;
    top: -26%;
}
.defence .list {
    position: relative;
    transform: translate(-44%);
    margin-top: 4%;
}
.defence .list ul {
    list-style: none;
}
.defence .list ul li {
    position: relative;
    margin-top: 70px;
    padding-left: 44%;
    padding-bottom: 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #000000;
    width: 40vw;
    display: inline-block;
    border-bottom: 2px solid #8f7e61;
}
.defence .list ul li:first-child {
    margin-top: 0;
}
.defence .list ul li:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8f7e61;
    position: absolute;
    bottom: -6px;
    left: -4px;
}

.choose-defence {
    overflow: hidden;
    padding-top: 34px;
    padding: 34px 12% 0;
}
.header-mob-title {
    display: none;
}
.choose-defence h3 {
    text-align: start;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1;
    background: linear-gradient(273deg, #9E866C 22.37%, #B8A284 25.3%, #AD9378 31.16%, #DDCEBA 33.99%, #AB8F76 36.27%, #735B42 49.99%, #A58B6E 53.33%, #B79A7A 60.45%, #8F7E61 64.21%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}
.choose-defence .block {
    padding: 50px 0 0;
    border: 1px solid #C7C7C7;
    overflow: hidden;
    border-bottom-width: 0;
}
.choose-defence .header-title {
    display: block;
    position: absolute;
    top: 68px;
    left: 60px;
}
.choose-defence .header {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin-bottom: 68px;
    margin-left: 30%;
    /* position: relative; */
}
.choose-defence .pillow-img-box {
    margin-top: 0;
    margin-bottom: 0;
}
.choose-defence .pillow-img-box-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 340px;
}
.choose-defence .pillow_3d {
    max-width: 300px;
}
.choose-defence .pillow-img-box__circles {
    width: 160px;
    height: 160px;
}
.choose-defence .header-divider {
    align-self: stretch;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding-top: 56px;
}
.choose-defence .header-divider:after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: #C7C7C7;
    position: absolute;
    z-index: -1;
    top: 0;
}
.choose-defence .header-divider .badge {
    position: relative;
}

.choose-defence .header-divider .badge span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    color: rgba(34, 29, 30, 0.8);
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 1px solid rgba(34, 29, 30, 0.8);
    background-color: #fff;
}
.choose-defence .pillow-title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    background: linear-gradient(273deg, #9E866C 22.37%, #B8A284 25.3%, #AD9378 31.16%, #DDCEBA 33.99%, #AB8F76 36.27%, #735B42 49.99%, #A58B6E 53.33%, #B79A7A 60.45%, #8F7E61 64.21%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 60px;
    z-index: 1;
}
.choose-defence .body {
    padding: 0;
}
.choose-defence .pillow-info {
    list-style: none;
    text-align: center;
}
.choose-defence .pillow-info li {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 68%;
    margin-left: 32%;
    /* padding: 10px 0; */
}
.choose-defence .pillow-info li:last-child {
    margin-bottom: 0;
}
.choose-defence .pillow-info-box:before {
    content: '';
    width: 26px;
    height: 26px;
    display: block;
    background-image: url(circle-plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 98%;
    position: absolute;
    background-color: #fff;
    left: 20%;
    top: auto;
    transform: translate(-40%);
}
.choose-defence .pillow-info-box.pillow-info-box-highlight:before {
    display: none;
}
.choose-defence .pillow-info-box:after {
    content: '';
    width: 28px;
    height: 28px;
    display: block;
    background-image: url("circle-plus-fill.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 98%;
    position: absolute;
    background-color: #fff;
    right: 20%;
    top: auto;
    transform: translate(-40%);
}
.choose-defence .pillow-info li .pillow-info-item {
    display: flex;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    text-align: start;
    text-transform: uppercase;
    color: rgba(34, 29, 30, 0.8);
    width: 100%;
    padding-left: 0;
    position: static;
    /* align-self: flex-start; */
    transform: translate(-47%);
    margin: 12px 0;
}
.choose-defence .pillow-info li span {
    padding: 0 10px 0 60px;
    display: inline-block;
}
.choose-defence .pillow-info li .pillow-info-item:after {
    content: '';
    display: block;
    width: 147%;
    height: 1px;
    background-color: #C7C7C7;
    position: absolute;
    right: 0;
    left: 0;
    top: auto;
    z-index: -1;
    bottom: -12px;
}

.choose-defence .pillow-info-box.pillow-info-box-highlight .pillow-info-item {
    font-weight: 700;
}

.pillow-img-box__circles.copper_circles {
    display: none;
}

@media (max-width: 992px) {
    /*defence*/
    .defence .block {
        width: 100%;
        position: static;
        padding-left: 0;
        padding-top: 0;
    }
    .defence h3 {
        text-align: center;
        font-size: 18px;
    }
    /*defence*/


    /*  choose-defence  */
    .pillow-img-box__circles.copper_circles {
        display: block;
    }
    .choose-defence {
        overflow: hidden;
        padding-top: 34px;
    }
    .choose-defence h3 {
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 100%;
        background: linear-gradient(273deg, #9E866C 22.37%, #B8A284 25.3%, #AD9378 31.16%, #DDCEBA 33.99%, #AB8F76 36.27%, #735B42 49.99%, #A58B6E 53.33%, #B79A7A 60.45%, #8F7E61 64.21%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 40px;
    }
    .choose-defence .block {
        padding: 0 18%;
    }
    .choose-defence .header {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 100px;
    }
    .choose-defence .pillow-img-box {
        margin-top: 24px;
        margin-bottom: 0;
    }
    .choose-defence .pillow-img-box-wrapper {
        display: flex;
        flex-direction: column;
        min-width: 340px;
    }
    .choose-defence .pillow_3d {
        max-width: 300px;
    }
    .choose-defence .pillow-img-box__circles {
        width: 160px;
        height: 160px;
    }
    .choose-defence .header-divider {
        align-self: stretch;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .choose-defence .header-divider:after {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background-color: #C7C7C7;
        position: absolute;
        z-index: -1;
        top: 12%;
    }
    .choose-defence .header-divider .badge {
        position: relative;
    }

    .choose-defence .header-divider .badge span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 22px;
        line-height: 1;
        text-align: center;
        color: rgba(34, 29, 30, 0.8);
        width: 68px;
        height: 68px;
        border-radius: 50%;
        border: 1px solid rgba(34, 29, 30, 0.8);
        background-color: #fff;
    }
    .choose-defence .pillow-title {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1;
        background: linear-gradient(273deg, #9E866C 22.37%, #B8A284 25.3%, #AD9378 31.16%, #DDCEBA 33.99%, #AB8F76 36.27%, #735B42 49.99%, #A58B6E 53.33%, #B79A7A 60.45%, #8F7E61 64.21%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 60px;
        z-index: 1;
    }
    .choose-defence .body {
        padding: 0 150px;
    }
    .choose-defence .pillow-info {
        list-style: none;
        text-align: center;
    }
    .choose-defence .pillow-info li {
        position: relative;
        margin-bottom: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .choose-defence .pillow-info li:last-child {
        margin-bottom: 0;
    }
    .choose-defence .pillow-info-box:before {
        content: '';
        width: 42px;
        height: 42px;
        display: block;
        background-image: url(circle-plus.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 98%;
        position: absolute;
        background-color: #fff;
        left: 0;
        top: -1px;
    }
    .choose-defence .pillow-info-box:after {
        content: '';
        width: 42px;
        height: 42px;
        display: block;
        background-image: url("circle-plus-fill.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 98%;
        position: absolute;
        background-color: #fff;
        right: 0;
        top: -1px;
    }
    .choose-defence .pillow-info li .pillow-info-item {
        position: relative;
        display: block;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        color: rgba(34, 29, 30, 0.8);
        margin: 0 50px;
        width: 100%;
    }
    .choose-defence .pillow-info li span {
        background-color: #fff;
        padding: 8px 10px;
        display: inline-block;
    }
    .choose-defence .pillow-info li .pillow-info-item:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #C7C7C7;
        position: absolute;
        right: 0;
        top: 20px;
        z-index: -1;
    }
    .choose-defence .pillow-info-box.pillow-info-box-highlight:before {
        display: none;
    }
    .choose-defence .pillow-info-box.pillow-info-box-highlight:before {
        display: none;
    }
    .choose-defence .pillow-info-box.pillow-info-box-highlight .pillow-info-item {
        font-weight: 700;
    }
    .choose-defence .pillow-info-box.pillow-info-box-highlight .pillow-info-item:after {
        width: 50%;
    }
    /*  choose-defence  */
}
