

.shop-section .shop-section__goods_sidebar input:checked ~ .checkbox__text {
    font-weight: 500;
}
.shop-section__goods_sidebar .checkbox__text {
    font-size: 18px;
    line-height: 19px;
}
.shop-section .checkbox__text {
    display: inline-flex;
    padding: 0 6px;
}
.shop-section .checkbox__text:before {
    display: none;
}
.shop-section .checkbox__text:after {
    background: linear-gradient(45.79deg, #FDD1DB 6.18%, #AABBE7 98.93%);
    width: 100%;
    height: 26px;
    border-radius: 0;
    z-index: -1;
    left: 0;
    top: -4px;
}
.shop-section .goods-grid__title h3 {
    font-size: 32px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 700;
    line-height: 30px;
}
.shop-section .goods-grid__title .goods-grid__sub-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-top: 6px;
}
.shop-section .goods-grid {
    align-items: start;
}
.shop-section .goods-grid .slide-product {
    height: auto;
}
.goods-grid-img-video-box {
    height: 100%;
    grid-column: 1 / -2;
}
.goods-grid-img-video-box.goods-grid-img-video-box__last {
    height: 100%;
    grid-column: 2 / -1;
}
.goods-grid-img-video-box video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: left;
}
.goods-grid-img-video-box img {
    width: 100%;
    height: 100%;
}
.goods-grid-product-box {
    height: 100%;
    grid-column: 1 / -2;
}
.goods-grid-product-box.goods-grid-product-box__last {
    height: 100%;
    grid-column: 2 / -1;
}
.goods-grid-product-box .slide-product__img {
    overflow: hidden;
    position: relative;
}
.goods-grid-product-box .slide-product__img > a {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.shop-section__goods_content .goods-grid {
    grid-column-gap: 20px;
    grid-row-gap: 32px;
}
.shop-section__goods_content .slide-product__img {
    margin-bottom: 0;
    position: relative;
}
.shop-section__goods_content .slide-product__img .pillow-preview-labels {
    right: 16px;
    top: 16px;
}
.shop-section__goods_content .slide-product__img .slide-product__img_colors {
    padding: 20px 20px;
}
.shop-section__goods_content .slide-product__img .slide-product__img_sizes {
    position: absolute;
    bottom: 15px;
    left: 20px;
}
.shop-section__goods_content .slide-product__img .slide-product__img_sizes .b-modification__title {
    font-weight: 500;
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 0;
    letter-spacing: normal;
}
.shop-section__goods_content .slide-product__img .slide-product__img_sizes .b-modification__item {
    font-size: 12px;
    padding: 2px 10px;
    margin: 2px;
}
.shop-section__goods_content .slide-product__info {
    align-items: baseline;
    padding: 10px 0;
    border: none;
    gap: 0 8px;
}
.shop-section__goods_content .slide-product__info > .single-product-price {
    font-size: 18px;
    flex: 1;
    flex-wrap: wrap;
    gap: 8px;
}
.shop-section__goods_content .slide-product__info > .single-product-price span.newprice + span {
    font-size: 18px;
    margin-left: 0;
}
.single-product-non--minicard {
    min-width: 100%;
}
.shop-section__goods_content .slide-product__img > a {
    max-height: initial;
}
.shop-section__goods_content .slide-product__information_descr {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    color: #221D1E;
}
.single-product-buttons {
    display: flex;
    gap: 0 8px;
}
.single-product-buttons .button {
    font-weight: 300;
    font-size: 18px;
    padding: 0 12px;
    height: 36px;
}
.single-product-buttons .button.border {
    border-width: 1px;
}
.single-product-buttons .button > svg {
    width: 14px;
    height: auto;
    margin-left: 4px;
}
.shop-section__goods_sidebar > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.shop-section__goods_item {
    flex: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    padding: 0 6px;
}
.shop-section__goods_item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 26px;
    border-radius: 0;
    z-index: -1;
    left: 0;
    top: 1px;
}
.shop-section__goods_item.active:after {
    background: linear-gradient(45.79deg, #FDD1DB 6.18%, #AABBE7 98.93%);
}
.shop-section__goods_item:hover:after {
    opacity: 0.3;
    background: linear-gradient(45.79deg, #FDD1DB 6.18%, #AABBE7 98.93%);
}
.shop-section__goods_item.active:hover:after {
    opacity: 1;
}

@media screen and (max-width: 1800px) {
    .shop-section__goods .shop-section__goods_content > div:not(:last-child):not(:only-child) {
        margin-bottom: 128px;
    }
    .shop-section__goods_content .slide-product__img .slide-product__img_sizes .b-modification__title {
        font-size: 10px;
    }
}
@media screen and (max-width: 1767px) {
    .shop-section__goods_content .slide-product__info > .single-product-price {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 1279px) {
    main.shop-store {
        padding-top: 183px;
    }
    .shop-section .shop-section__goods_sidebar > div {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        white-space: nowrap;
        background-color: #fff;
        padding: 10px 0;
        position: fixed;
        top: 136px;
        left: 0;
        width: 100%;
        z-index: 10;
        justify-content: flex-start;
        gap: 14px;
    }
    .shop-section__goods_item {
        font-weight: 300;
        font-size: 14px;
        line-height: 28px;
        border: 1px solid #4E4A4B;
        height: 30px;
        margin-bottom: 0;
    }
    .shop-section__goods_item:first-child {
        margin-left: calc((100% - var(--gridWidth)) / 2);
    }
    .shop-section__goods_item:last-child {
        margin-right: calc((100% - var(--gridWidth)) / 2);
    }
    .shop-section__goods_item.active {
        color: #fff;
        border-color: transparent;
    }
    .shop-section__goods_item:after {
        height: 32px;
        z-index: -1;
        top: -2px;
    }
}
@media screen and (max-width:1023px) {
    main.shop-store {
        padding-top: 124px;
    }
    .delivery-section {
        display: none;
    }
    .shop-section .shop-section__goods_sidebar > div {
        top: 70px;
    }
    .general-photo.center {
        display: none;
    }

    .shop-section__goods .shop-section__goods_content > div:not(:last-child):not(:only-child) {
        margin-bottom: 32px;
    }
    .goods-grid-img-video-box {
        height: 100%;
        grid-column: 1 / -1;
    }
    .shop-section .goods-grid__title h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .shop-section .goods-grid__title .goods-grid__sub-title {
        font-size: 14px;
        line-height: 20px;
        margin-top: 0;
    }
    .shop-section__goods_content .slide-product__information_descr {
        font-size: 14px;
    }
    .single-product-buttons .button {
        padding: 0 14px;
        font-size: 14px;
        height: 28px;
    }
    .button.read-more-button {
        display: none;
    }
    .shop-section__goods_content.few .slide-product__info > .single-product-price {
        display: flex;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 6px;
        align-self: flex-start;
    }
    .shop-section__goods_content .slide-product__info > .single-product-price {
        gap: 4px;
    }
    .goods-grid-product-box {
        grid-column: auto;
    }
    .shop-section__goods_content.few .goods-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 24px;
    }
    .shop-section__goods_content.few .slide-product__img_colors > :not(span) {
        width: 10px;
        height: 10px;
    }

    .shop-section__goods_content.few .slide-product__img_colors {
        padding: 8px 10px;
    }
    .shop-section__goods_content.few .slide-product__img_colors > :not(:last-child) {
        margin-right: 8px
    }
    .shop-section__goods_content.few .slide-product .pillow-preview-labels {
        right: 10px;
        top: 10px;
    }
    .shop-section__goods_content.few .slide-product .pillow-preview__label {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }
}
@media screen and (max-width:767px) {
    .shop-section__goods_content .slide-product__info > .single-product-price span.newprice + span {
        font-size: 14px;
        margin-left: 0;
    }
    .shop-store .shop-section .shop-section__goods_sidebar > div {
        display: flex;
    }
    .shop-section__goods_content .slide-product__img .slide-product__img_sizes {
        bottom: 10px;
        left: 10px;
    }
    .shop-section__goods_sidebar {
        margin: 0;
    }
    .shop-section__goods {
        margin-top: 0;
    }
    section:not(.general-section) {
        margin-top: 0;
        padding-top: 0;
    }
}
