/*это не нужно, это временно чтобы удобно было работать*/
/*body * {*/
/*    transition: none !important;*/
/*}*/
/*html {*/
/*    overflow: auto !important;*/
/*}*/
/*html body {*/
/*    overflow: auto !important;*/
/*}*/

/*это не нужно, это временно чтобы удобно было работать*/

.br-mobile {
    display: none;
}
.br-desk-tablet {
    display: inline-block;
}
.br-desktop {
    display: inline-block;
}
.bold-mobile {
    font-weight: 300;
}
.bold-desktop {
    font-weight: 500;
}
.post-desktop-display {
    display: block;
}
.post-tablet-display {
    display: none;
}
.post-mobile-display {
    display: none;
}
/*///////////////////////////////*/

body .post-general-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.post-general-text {
    position: absolute;
}
.post-general-text h1 {
    font-weight: 500;
    font-size: clamp(24px, calc(48/1920*100vw), 48px);
    line-height: clamp(34px, calc(60/1920*100vw), 60px);
    text-transform: uppercase;
    color: #FFFFFF;
}
.post-page-wrapper {
    padding-top: clamp(0px, calc(96/1920*100vw), 96px);
    display: flex;
    justify-content: center;
    gap: clamp(10px, calc(20/1920*100vw), 20px);
}
.post-page-with-sidebar {
    justify-content: flex-start;
    padding-top: 0;
}
.post-page-wrapper section {
    margin-top: 0;
}
.post-page-wrapper p {
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.55;
    color: #221D1E;
}
.post-page-wrapper h4 {
    font-weight: 500;
    font-size: clamp(18px, calc(24/1920*100vw), 24px);
    margin-bottom: clamp(10px, calc(16/1920*100vw), 16px);
    line-height: 1.5;
    text-transform: uppercase;
    background: linear-gradient(65.37deg, #F0C9D1 0%, #6E89C3 108.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.post-page-with-sidebar.post-page-wrapper .post-container {
    padding-top: clamp(0px, calc(64/1920*100vw), 64px);
}
.post-page-wrapper .post-container ul {
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.5;
    color: #221D1E;
    padding-left: 1.6em;
}
.post-page-wrapper .post-container ol {
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.5;
    color: #221D1E;
    padding-left: 1.6em;
}
.post-page-wrapper p + ul {
    margin-top: clamp(10px, calc(16/1920*100vw), 16px);
}
.post-page-wrapper ul + p {
    margin-top: clamp(10px, calc(16/1920*100vw), 16px);
}
.post-page-wrapper p + ol {
    margin-top: clamp(10px, calc(16/1920*100vw), 16px);
}
.post-page-wrapper ol + p {
    margin-top: clamp(10px, calc(16/1920*100vw), 16px);
}
.post-page-wrapper picture + p {
    margin-top: clamp(10px, calc(16/1920*100vw), 16px);
}
.post-page-wrapper p + p {
    margin-top: clamp(10px, calc(16/1920*100vw), 16px);
}

/*post-sidebar*/
.post-sidebar {
    width: 24%;
    max-width: 24%;
    padding-left: clamp(10px, calc(20/1920*100vw), 20px);
}
.post-sidebar ul {
    list-style: none;
}
.post-sidebar-menu {
    position: relative;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    gap: clamp(24px, calc(32/1920*100vw), 32px);
    margin-top: clamp(0px, calc(64/1920*100vw), 64px);
    overflow: hidden;
    padding-bottom: 16px;
}
.post-sidebar-content {
    width: 100%;
    position: sticky;
    top: 160px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overscroll-behavior: contain;
}
.post-sidebar-menu:before {
    content: '';
    height: 100%;
    width: 4px;
    background-color: #F5F5F5;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.post-sidebar-menu > li {
    font-weight: 500;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.55;
    text-transform: uppercase;
    color: #4F6FC1;
}
.post-sidebar-menu .sidebar-link {
    color: #A3B2C7;
    cursor: pointer;
    position: relative;
    /*padding-bottom: 4px;*/
}
.post-sidebar-menu .sidebar-link.active {
    color: #4F6FC1;
}
.post-sidebar-menu .sidebar-link:before {
    content: '';
    height: 260%;
    width: 4px;
    background-color: transparent;
    display: block;
    position: absolute;
    top: -120%;
    left: -32px;
    bottom: 0;
}
.post-sidebar-menu .sidebar-link > .sidebar-link:before {
    left: -64px;
}
.post-sidebar-menu li > ul > li.sidebar-link:before {
    left: -64px;
}
.post-sidebar-menu .sidebar-link.active:before {
    background-color: #4F6FC1;
}
.post-sidebar-menu li > ul {
    margin-top: 16px;
    /*padding-left: clamp(16px, calc(32/1920*100vw), 32px);*/
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.post-sidebar-menu li > ul > li {
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.55;
    color: #4F6FC1;
    text-transform: none;
}
/*post-sidebar*/

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1248px;
}
.post-blocks-special-width {
    width: 74.6%;
}
.post-block-96-margin-bottom {
    margin-bottom: clamp(64px, calc(96/1920*100vw), 96px);
}
.post-block-64-margin-bottom {
    margin-bottom: clamp(32px, calc(64/1920*100vw), 64px);
}
.post-block-32-margin-bottom {
    margin-bottom: clamp(16px, calc(32/1920*100vw), 32px);
}
.post-block-20-margin-bottom {
    margin-bottom: clamp(16px, calc(20/1920*100vw), 20px);
}

/*post-banner*/
.post-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.post-banner-img {
    width: 18.5%;
    height: 100%;
    aspect-ratio: 1 / 1;
}
.post-banner-body {
    padding: 0 clamp(10px, calc(20 / 1920 * 100vw), 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    flex: 1;
    min-height: 100%;
    border-top: 1px solid #EAEDFF;
    border-right: 1px solid #EAEDFF;
    border-bottom: 1px solid #EAEDFF;
}
.post-banner .post-banner-title {
    font-weight: 500;
    font-size: clamp(14px, calc(24 / 1920 * 100vw), 24px);
    line-height: 1.5;
    text-transform: uppercase;
    color: #221D1E;

    margin-bottom: 0;
    background: transparent;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background-clip: unset;
}
.post-banner-body .button {
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920 * 100vw), 18px);
    height: clamp(32px, calc(44 / 1920 * 100vw), 44px);
    padding: 0 clamp(16px, calc(32 / 1920 * 100vw), 32px);
    line-height: 1;
    text-transform: uppercase;
    color: #221D1E;
}
.post-banner-body .button > svg {
    margin-left: 0.4em;
    margin-right: 0;
}
/*post-banner*/

/*post-product-card*/
.post-product-card-wrapper {
    padding: 0 10px;
    margin-bottom: 64px;
}
.post-product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 100%;
}
.post-product-card-img {
    position: relative;
    width: 50%;
    flex: 1 1 50%;
    height: 100%;
    aspect-ratio: 1 / 1;
}
/*.post-product-button {*/
/*    position: absolute;*/
/*    bottom: 10px;*/
/*    right: 10px;*/
/*    padding: 0;*/
/*}*/
.post-product-card-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    align-self: stretch;
    padding: 10px;
    width: 50%;
    flex: 1 1 50%;
    min-height: 100%;
    border-top: 1px solid #EAEDFF;
    border-right: 1px solid #EAEDFF;
    border-bottom: 1px solid #EAEDFF;
}
.post-product-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    color: #221D1E;
    margin-bottom: 20px;
}
.post-product-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #221D1E;
    margin-bottom: 10px;
}
.card-info-top {
    width: 100%;
}
.card-info-bottom {
    width: 100%;
}
.card-info-bottom .button {
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920 * 100vw), 18px);
    height: clamp(28px, calc(44 / 1920 * 100vw), 44px);
    padding: 0 clamp(16px, calc(32 / 1920 * 100vw), 32px);
    line-height: 1;
    text-transform: uppercase;
    color: #221D1E;
    display: inline-flex;
    width: 100%;
}
.card-info-bottom .button>svg {
    margin-left: 0.4em;
    margin-right: 0;
}
/*.post-product-services {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    align-self: flex-start;*/
/*    gap: 3px;*/
/*    height: 18px;*/
/*    padding: 0 4px;*/
/*    border-radius: 24px;*/
/*    background-color: #F5F5F5;*/
/*}*/
/*.post-product-services-item {*/
/*    font-family: 'Arial', sans-serif;*/
/*    font-weight: 400;*/
/*    font-size: 7px;*/
/*    line-height: 8px;*/
/*    color: #4E4A4B;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.post-product-services-item svg {*/
/*    margin-right: 3px;*/
/*}*/
/*post-product-card*/

/*post-author-info*/
.post-author-info {
    padding-top: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-author-info-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.post-author-info-title {
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920 * 100vw), 18px);
    line-height: clamp(20px, calc(28 / 1920 * 100vw), 28px);
    text-transform: uppercase;
    color: #221D1E;
}
.post-author-info-author {
    font-weight: 300;
    font-size: clamp(10px, calc(14 / 1920 * 100vw), 14px);
    line-height: 18px;
    color: #BCBDC2;
}
.post-author-info-logo svg {
    width: clamp(104px, calc(272 / 1920 * 100vw), 272px);
}
/*post-author-info*/

/*post-big-title*/
.post-big-title {
    display: grid;
    gap: 20px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: clamp(16px, calc(34 / 1920 * 100vw), 34px) 0;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    width: 100%;
}
main > .post-big-title {
    padding: 0 20px;
}
.post-big-title svg {
    width: clamp(0px, calc(192 / 1920 * 100vw), 192px);
}
.post-big-title-text {
    font-weight: 500;
    font-size: clamp(24px, calc(48 / 1920 * 100vw), 48px);
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(65.37deg, #F0C9D1 0%, #6E89C3 108.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.post-title-text {
    font-weight: 500;
    font-size: clamp(18px, calc(32 / 1920 * 100vw), 32px);
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(65.37deg, #F0C9D1 0%, #6E89C3 108.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.post-big-title-sub-text {
    font-weight: 300;
    font-size: clamp(14px, calc(18 / 1920 * 100vw), 18px);
    line-height: 1.5;
    text-align: center;
    color: #221D1E;
    margin-top: 10px;
}
/*post-big-title*/

/*post-block-two-tiles*/
.post-block-two-tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(10px, calc(20/1920*100vw), 20px);
}
.post-block-two-tiles picture {
    position: relative;
}
.post-block-two-tiles picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
/*post-block-two-tiles*/

/*post-top-block*/
.post-top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: clamp(10px, calc(16/1920*100vw), 16px);
}
.post-top-back-button button {
    display: flex;
    align-items: center;
    gap: clamp(4px, calc(6/1920*100vw), 6px);
    font-weight: 500;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.5;
    text-transform: uppercase;
    color: #BCBDC2;
    padding: 0;
    position: relative;
}
.post-top-back-button button:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='18' viewBox='0 0 32 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64645 9.35355C3.45119 9.15829 3.45119 8.84171 3.64645 8.64645L6.82843 5.46447C7.02369 5.2692 7.34027 5.2692 7.53553 5.46447C7.7308 5.65973 7.7308 5.97631 7.53553 6.17157L4.70711 9L7.53553 11.8284C7.7308 12.0237 7.7308 12.3403 7.53553 12.5355C7.34027 12.7308 7.02369 12.7308 6.82843 12.5355L3.64645 9.35355ZM28 9V9.5H4V9V8.5H28V9Z' fill='%23BCBDC2'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 18px;
    display: inline-block;
}
.post-top-date-views {
    display: flex;
    align-items: center;
    gap: clamp(10px, calc(20/1920*100vw), 20px);
}
.post-top-date-views .post-date {
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.5;
    color: #4F6FC1;
}
.post-views {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.post-views span {
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.5;
    color: #4F6FC1;
}
/*post-top-block*/

/*post-text-left-img-block*/
.post-text-left-img-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
}
.post-text-left-wrapper {
    position: absolute;
    left: clamp(10px, calc(20/1920*100vw), 20px);
}
.post-text-left-wrapper svg {
    width: 93px;
    margin-bottom: clamp(10px, calc(16/1920*100vw), 16px);
}
.post-text-left-wrapper h1 {
    font-weight: 500;
    font-size: clamp(24px, calc(48/1920*100vw), 48px);
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: clamp(10px, calc(16/1920*100vw), 16px);
    background: linear-gradient(65.37deg, #F0C9D1 0%, #6E89C3 108.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.post-text-left-wrapper p  {
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.5;
    color: #221D1E;
}
/*post-text-left-img-block*/

/*post-interesting*/
section.post-interesting {
    margin-top: 0;
}
.post-interesting-title {
    font-weight: 300;
    font-size: clamp(18px, calc(32/1920*100vw), 32px);
    line-height: 1.5;
    align-items: center;
    text-transform: uppercase;
    color: #221D1E;
    text-align: center;
    margin-bottom: clamp(24px, calc(64/1920*100vw), 64px);
}
.post-interesting-title b {
    font-weight: 500;
}
.post-interesting-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: clamp(24px, calc(64/1920*100vw), 64px);
    column-gap: clamp(24px, calc(20/1920*100vw), 20px);
    padding: 0 clamp(10px, calc(20/1920*100vw), 20px);
}
/*post-interesting*/

/*post-card*/
.post-card {
    display: flex;
    flex-direction: column;
}
.post-card-img {
    margin-bottom: clamp(24px, calc(20/1920*100vw), 20px);
}
.post-card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 613 / 360;
}
.post-card-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    margin-bottom: clamp(16px, calc(30/1920*100vw), 30px);
}
.post-card-date-views {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-card-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.55;
    color: #4F6FC1;
}
.post-card-views {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.55;
    color: #4F6FC1;
}
.post-card-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.post-card-title {
    font-weight: 500;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.55;
    align-items: center;
    text-transform: uppercase;
    color: #221D1E;
    margin-bottom: 16px;
}
.post-card-desc {
    font-weight: 300;
    font-size: clamp(14px, calc(18/1920*100vw), 18px);
    line-height: 1.55;
    color: #221D1E;
}
.post-card-button .button {
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920 * 100vw), 18px);
    height: clamp(28px, calc(44 / 1920 * 100vw), 44px);
    padding: 0 clamp(16px, calc(40 / 1920 * 100vw), 40px);
    line-height: 1;
    text-transform: uppercase;
    color: #221D1E;
    display: inline-flex;
    border: 1px solid #221D1E;
}
/*post-card*/

/*post-additional-info*/
section.post-additional-info {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(24px, calc(20/1920*100vw), 20px);
    padding: 0 clamp(10px, calc(20/1920*100vw), 20px);
}
.post-additional-info-item {
    position: relative;
    overflow: hidden;
}
.post-additional-info-item:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #68594A 0%, rgba(104, 89, 74, 0) 60%), url(photo-8.jpg);
}
.post-additional-info-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 930 / 600;
}
.post-additional-info-img picture {
    width: 100%;
    height: 100%;
    display: flex;
}
.post-additional-info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-additional-info-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: clamp(10px, calc(16 / 1920 * 100vw), 16px);
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 clamp(10px, calc(20 / 1920 * 100vw), 20px) clamp(10px, calc(40 / 1920 * 100vw), 40px);
}
.post-additional-info-content svg {
    width: clamp(61px, calc(137 / 1920 * 100vw), 137px);
}
.post-additional-info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-additional-info-title h4 {
    font-weight: 500;
    font-size: clamp(14px, calc(32 / 1920 * 100vw), 32px);
    line-height: 1.5;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-additional-info-title .button {
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920 * 100vw), 18px);
    height: clamp(28px, calc(44 / 1920 * 100vw), 44px);
    padding: 0 clamp(16px, calc(16 / 1920 * 100vw), 16px);
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}
.post-additional-info-desc {
    font-weight: 300;
    font-size: clamp(14px, calc(18 / 1920 * 100vw), 18px);
    line-height: 1.55;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.post-additional-info-desc span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-additional-info-desc svg {
    width: 24px;
    height: 24px;
}
/*post-additional-info*/

/*post-preview*/
.post-preview {
    display: flex;
    padding: 0 clamp(10px, calc(20 / 1920 * 100vw), 20px);
}
.post-preview-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(16px, calc(32 / 1920 * 100vw), 32px);
    padding-right: 11vw;
}
.post-preview-title {
    font-weight: 500;
    font-size: clamp(18px, calc(32 / 1920 * 100vw), 32px);
    line-height: 1.5;
    text-transform: uppercase;
    color: #221D1E;
}
.post-preview-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #221D1E;
    display: flex;
    flex-direction: column;
    gap: clamp(10px, calc(16 / 1920 * 100vw), 16px);
}
.post-preview-text p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
.post-preview-info .button {
    font-weight: 500;
    font-size: clamp(14px, calc(18 / 1920 * 100vw), 18px);
    height: clamp(28px, calc(44 / 1920 * 100vw), 44px);
    padding: 0 clamp(16px, calc(40 / 1920 * 100vw), 40px);
    line-height: 1;
    text-transform: uppercase;
    color: #221D1E;
    display: inline-flex;
    max-width: 188px;
}
.post-preview-img {
    aspect-ratio: 897/545;
    width: 100%;
    max-width: 897px;
}
.post-preview-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*post-preview*/

/*New SEO post*/
.post-test-highlight {
    font-weight: 500;
    text-transform: uppercase;
}
/*New SEO post*/


@media (min-width: 1921px)  {
    .post-page-wrapper {
        justify-content: center;
    }
}
/*@media screen and (max-width: 1440px) {*/
/*    .post-sidebar {*/
/*        max-width: 360px;*/
/*    }*/
/*}*/

@media screen and (max-width: 1223px) {
    .post-sidebar {
        display: none;
    }
    .post-container {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .post-desktop-display {
        display: none;
    }
    .post-tablet-display {
        display: block;
    }
    .br-mobile {
        display: block;
    }
    .br-tablet {
        display: block;
    }
    .br-desktop {
        display: none;
    }
    .bold-mobile {
        font-weight: 500;
    }
    .bold-desktop {
        font-weight: 300;
    }
    .post-block-10-margin-bottom-mob {
        margin-bottom: clamp(10px, calc(64 / 1920 * 100vw), 64px);
    }
    .post-page-wrapper p + picture {
        margin-top: clamp(10px, calc(16/1920*100vw), 16px);
    }
    .post-tablet-64-margin-bottom {
        margin-bottom: 64px;
    }

    .post-text-left-wrapper h1 {
        line-height: 1.4;
    }
    .post-text-left-wrapper p {
        line-height: 1.4;
    }
    .post-page-wrapper p {
        line-height: 1.4;
    }
    .post-big-title-text {
        line-height: 1.4;
    }
    .post-sidebar {
        display: none;
    }
    .post-container {
        max-width: 100%;
    }
    .post-blocks-special-width {
        width: 100%;
        padding: 0 10px;
        gap: 16px;
    }
    .post-block-two-tiles {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }
    .post-block-two-tiles picture img {
        position: static;
    }
    .post-big-title,
    main > .post-big-title {
        grid-template-columns: 1fr;
        padding: clamp(16px, calc(34 / 1920 * 100vw), 34px) 10px;
    }
    .post-big-title svg {
        display: none;
    }
    .post-text-left-img-block {
        padding: 0;
    }
    .post-text-left-img-block img {
        width: 100%;
    }
    .post-text-left-wrapper {
        top: 24px;
    }
    .post-top-back-button button {
        color: #4F6FC1;
        text-transform: none;
        font-weight: 300;
    }
    .post-top-back-button button:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.64645 9.35355C4.45119 9.15829 4.45119 8.84171 4.64645 8.64645L7.82843 5.46447C8.02369 5.2692 8.34027 5.2692 8.53553 5.46447C8.7308 5.65973 8.7308 5.97631 8.53553 6.17157L5.70711 9L8.53553 11.8284C8.7308 12.0237 8.7308 12.3403 8.53553 12.5355C8.34027 12.7308 8.02369 12.7308 7.82843 12.5355L4.64645 9.35355ZM21 9V9.5H5V9V8.5H21V9Z' fill='%234F6FC1'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 25px;
        height: 18px;
        display: inline-block;
        margin-top: 1px;
    }
    .post-views svg {
        width: 18px;
        height: 18px;
        margin-top: 1px;
    }
    .post-views {
        gap: 7px;
    }

    .post-card-date {
        line-height: 1.42;
    }
    .post-card-views {
        line-height: 1.42;
    }
    .post-card-title {
        line-height: 1.42;
    }
    .post-card-desc {
        line-height: 1.42;
    }
    .post-card-text-wrapper {
        -webkit-line-clamp: 5;
    }

    /*post-preview*/
    .post-preview {
        flex-direction: column-reverse;
        gap: 24px;
    }
    .post-preview-info {
        padding-right: 0;
    }
    .post-preview-info .button {
        min-width: 165px;
    }
    /*post-preview*/

    /*.post-card*/
    .post-card-button {
        display: flex;
        justify-content: flex-end;
    }
    .post-card-button .button {
        min-width: 165px;
    }
    /*.post-card*/

    /*.post-interesting-grid*/
    .post-interesting-grid {
        grid-template-columns: 1fr;
    }
    /*.post-interesting-grid*/

    /*.post-additional-info*/
    section.post-additional-info {
        grid-template-columns: 1fr;
    }
    /*.post-additional-info*/
}

@media (max-width: 576px) {
    .post-mobile-display {
        display: block;
    }
    .br-desk-tablet {
        display: none;
    }
    .post-additional-info-desc span {
        white-space: normal;
        overflow: visible;
        text-overflow: unset;
    }
}
























